@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Fruktur:ital@0;1&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Zen+Dots&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main hr {
    width: 100%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    background-image: linear-gradient(to right, rgb(255, 153, 0), rgb(96, 255, 207));
}
section hr {
    width: 100%;
    height: 1px;
    border: 1px solid;
    border: none;
    background-image: linear-gradient(to right, rgb(255, 153, 0), rgb(96, 255, 207));
}

/* NAVBAR */

.navbar {
    background-color: black;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    z-index: 10;
}

.divlogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divlogo img {
    width: 50px;
    height: 30px;
}

.logo {
    color:rgb(255, 255, 255);
    font-family: "Zen Dots", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: large;
    display: flex;
    align-items: center;
}

.logo span {
    color:rgb(255, 102, 0);
    font-family: "Zen Dots", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: large;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none; /*TIPO DE MARCADOR*/
    border: 1px solid rgb(96, 255, 207);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(35, 193, 255, 0.19);
    animation-name: flut;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.menu a {
    color:rgb(255, 255, 255);
}

li a { /* SEPARAR LINKS DO MENU */
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition-duration: 2s;
}

li a:hover {
    color: rgb(148, 253, 201);
    transition-duration: 1s;
}

@keyframes flut {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }

/* BOAS VINDAS */

.tela_boas_vindas {
    background-image: url(IMG/darkmode.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 50px;
}

.barporcent {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 1px solid;
    border-image: linear-gradient(to right, rgb(255, 153, 0), rgb(96, 255, 207)) 1; 
    background-color: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(3px);
}

.barporcent img {
    width: 350px;
    height: 15px;
    margin: auto;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.barporcent h4 {
    font-size: 15px;

    background-image: linear-gradient(to right, 
                                      #ff7b00,   
                                      #9fff87);

    -webkit-background-clip: text;
    color: transparent; 
    background-clip: text; 
}

.tela_boas_vindas h2 {
    margin: 0px;
    font-size: 40px;
    text-shadow: 3px 3px rgb(0, 0, 0);

    font-family: "Revalia", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-image: linear-gradient(to right, 
                                      #ff7b00,   
                                      #ffffff,
                                      #9fff87);

    -webkit-background-clip: text;
    color: transparent; 
    background-clip: text; 

    -webkit-text-stroke: 1px #ffffff;
}

.tela_boas_vindas p {
    width: 750px;
    font-size: 15px;
    text-shadow: 3px 3px 5px black;
    margin: 10px;
}

.tela_blur {
    height: 300px;
    padding: 20px;
    border: 1px solid;
    border-image: linear-gradient(to right, rgb(255, 153, 0), rgb(96, 255, 207)) 1; 
    background-color: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.719);
    transition-duration: 3s;
}

.tela_blur:hover {
    height: 300px;
    border: 1px solid;
    border-image: linear-gradient(to right, rgb(255, 153, 0), rgb(96, 255, 207)) 1; 
    background-color: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition-duration: 1s;
}

.tela_blur a {
    width: 200px;
    height: 35px;
    text-decoration: none;

    color: #fff;
    margin-top: 15px;
    padding-top: 4px;
    font-weight: 600;

    border: 1px solid;
    border-image: linear-gradient(to right, rgb(255, 153, 0), rgb(96, 255, 207)) 1; 
    background-color: transparent;
    text-shadow: 2px 2px rgb(3, 53, 77);
    box-shadow: 0px 0px 10px rgb(192, 248, 255);

    transition-duration: 2s;
}
    
.tela_blur a:hover {
    width: 200px;
    height: 35px;
    text-decoration: none;

    transition-duration: 1s;

    color: rgb(255, 255, 255);
    margin-top: 15px;
    padding-top: 4px;
    font-weight: 600;

    border: 1px solid;
    border-image: linear-gradient(to right, rgb(96, 255, 207), rgb(255, 153, 0)) 1; 
    background-color: rgba(45, 230, 255, 0.089);
    text-shadow: 2px 2px rgb(3, 53, 77);
    box-shadow: 0px 0px 10px rgb(192, 248, 255);
}

.tela_blur p {
    margin: 0px;
    padding: 10px;
}

.tela_blur h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tela_blur strong {
    color: #fffc3c;
    font-size: 16px;
    letter-spacing: 2px;
}

/* TECNOLOGIAS */

.tela_apresentacao {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apresentacao {
    text-align: center;
}

.apresentacao h2 {
    margin: 25px;
    font-size: 30px;;
    text-align: center;
    background-image: linear-gradient(to top,#9fff87, #ff7b00);
    -webkit-background-clip: text;
    color: transparent; 
    background-clip: text; 
}

.apresentacao p {
    width: 750px;
    text-align: justify;
    margin-bottom: 20px;
}

.tecnologias {
    padding: 20px;
    text-align: center;
}

.tecnologias img {
    width: 50px;
    margin: 3px;
}

/* PORTIFOLIO */

.tela_portifolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-wrap: wrap;
    flex: auto;
    height: auto;
}

.tela_portifolio img {
    width: 750px;
}

.tela_portifolio h2 {
    margin: 25px;
    font-size: 30px;;
    text-align: center;

    background-image: linear-gradient(to top,#9fff87, #ff7b00);

    -webkit-background-clip: text;
    color: transparent; 
    background-clip: text; 
}

.tela_portifolio p {
    width: 750px;
    text-align: justify;
}

/* CONTATO */

.tela_contato {
    height: 500px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.tela_contato img {
    height: 130px;
}

.tela_contato h2 {
    margin: 25px;
    font-size: 30px;;
    text-align: center;
    background-image: linear-gradient(to top,#9fff87, #ff7b00);
    -webkit-background-clip: text;
    color: transparent; 
    background-clip: text; 
}

.box_whats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* RODAPÉ */

footer {
    width: 100%;
    height: 50px;
    background-color: rgb(7, 7, 7);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rodape {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

.rodape strong {
    font-size: 12px;
}

@media (max-width: 768px) {

    .navbar {
        display: flex;
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .tela_boas_vindas {
        height: 800px;
    }

    .tela_boas_vindas p {
        width: 400px;
    }

    .tela_blur {
        width: 400px;
        height: 800px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .tela_blur h2 {
        word-spacing: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tela_portifolio img {
        width: 400px;
    }

    .apresentacao p {
        width: 400px;
        text-align: justify;
        margin-bottom: 20px;
    }

    .tela_portifolio p {
        width: 400px;
        text-align: justify;
        margin-bottom: 0px;
    }

}